@import "tailwindcss";


body {
  @apply bg-gray-950 text-gray-100;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

:root{
  --app-height: 100%;
}

@supports (height: 100dvh){
  :root{
    --app-height: 100dvh;
  }
}

